.head {
	position: relative;
	display: flex;
	background: rgb(0, 56, 59, 1);
}

.search {
	display: flex;
	position: relative;
	padding-top: 1.5%;
}

.header-left,
.header-right {
	padding: 2vh 2vw 2vh;
	width: 50%;
}

.header-left {
	display: flex;
}

.btn {
	position: absolute;
	right: 0%;
	color: black;
	background-color: transparent;
	border: none;
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active,
.btn:hover,
.btn:active,
.btn:disabled {
	color: black;
	background-color: transparent;
	border-color: none;
}

.search-box {
	display: block;
	width: 100%;
	padding: 0.375rem .75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: var(--bs-body-color);
	appearance: none;
	background-color: var(--bs-body-bg);
	background-clip: padding-box;
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: var(--bs-border-radius);
	transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

a {
	text-decoration: none;
	color: #ffffff;
	font-weight: 200;
}

.movie-app>.row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

/* Header styling */
.head {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: top 0.3s ease-in-out;
	z-index: 1000;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Sidebar */
.sidebar {
    height: 100%; /* Full-height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place) */
    top: 0;
    left: -250px; /* Initially hide the sidebar off the screen */
    background-color: #111; /* Black background color */
    padding-top: 60px; /* Add some padding on top */
    transition: 0.3s; /* Transition for sliding in and out */
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar.open {
    left: 0; /* Slide in the sidebar */
}

.sidebar-logo {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar-logo .app-logo {
    width: 150px;
    height: auto;
}

.sidebar-bottom {
    margin-bottom: 20px;
    text-align: center;
}

.sidebar-user .user-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.sidebar a {
    padding: 10px 15px;
    margin-top: 5px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.menu-toggle {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-right: 10px;
}

.header-left,
.header-right {
    padding: 2vh 2vw 2vh;
    width: 50%;
}

.header-left {
    display: flex;
}

.search {
    display: flex;
    position: relative;
    padding-top: 1.5%;
}

.search-box {
    display: block;
    width: 100%;
    padding: 0.375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: var(--bs-body-bg);
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
}

.btn {
    position: absolute;
    right: 0%;
    background-color: transparent;
    border: none;
}

.sidebar-user img {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the specified dimensions */
    border-radius: 50%; /* Optional: if you want circular images */
}

.sidebar-user {
    display: flex;
    padding: 10px;
}
